@charset "UTF-8";
/*INICIANDO COM O CSS EXTERNO*/

body{
  background-color:blue; 
  color: white; 
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}

h1{
    color:dimgray;
}

